.git/
.gitattributes
.github
.gitignore
.travis.yml
CODE_OF_CONDUCT.md
LICENSE.md
README.md
schemacrawler/
schemacrawler-api/
schemacrawler-archetype-maven-project/
schemacrawler-archetype-plugin-command/
schemacrawler-archetype-plugin-dbconnector/
schemacrawler-archetype-plugin-lint/
schemacrawler-commandline/
schemacrawler-db2/
schemacrawler-dbtest/
schemacrawler-diff/
schemacrawler-distrib/
schemacrawler-docker/
schemacrawler-docs/
schemacrawler-examplecode/
schemacrawler-hsqldb/
schemacrawler-integrations/
schemacrawler-lint/
schemacrawler-mysql/
schemacrawler-offline/
schemacrawler-oracle/
schemacrawler-parent/
schemacrawler-postgresql/
schemacrawler-sqlite/
schemacrawler-sqlserver/
schemacrawler-testdb/
schemacrawler-tools/
workspace/
!schemacrawler-distrib/target/_distribution

