# Eclipse
.project
.classpath
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
.springBeans
.recommenders/
.apt_generated/
bin/

# IntelliJ IDEA
.idea/
**/*.iml

*.patch
.clover
.svn
*.png

target/
workspace/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
__init__.py

/schemacrawler-db2/*.jar
/schemacrawler-distrib/*.bnd
/schemacrawler-distrib/*.jar
/schemacrawler-distrib/src/assembly/schemacrawler.pom.asc
/schemacrawler-docs/*.png
/schemacrawler-docs/*.txt
/schemacrawler-docs/*.xml
/schemacrawler-docs/schemacrawler.config.properties.1
/schemacrawler-oracle/*.jar
/schemacrawler-sybaseiq/*.jar
/schemacrawler/*.bnd
/schemacrawler/*.jar
/schemacrawler/gpl-3.0.txt
/schemacrawler/lgpl-3.0.txt
/schemacrawler/src/assembly/schemacrawler.pom.asc
/schemacrawler-examplecode/src/main/java/Issue166.java
/schemacrawler-examplecode/src/main/java/Issue167.java

/schemacrawler-examplecode/derby.log
**/hsqldb.schemacrawler.lck
**/hsqldb.schemacrawler.lobs
**/hsqldb.schemacrawler.log
**/hsqldb.schemacrawler.properties
**/hsqldb.schemacrawler.script
**/derby.log

/schemacrawler-scripting/serialize.*