.svn
.clover
target
workspace
*.patch
/schemacrawler-docs/*.txt
/schemacrawler-docs/*.png
/schemacrawler/*.jar
/schemacrawler/gpl-3.0.txt
/schemacrawler/lgpl-3.0.txt
/schemacrawler/*.bnd
/schemacrawler-docs/*.xml
/schemacrawler-docs/schemacrawler.config.properties.1
/schemacrawler/src/assembly/schemacrawler.pom.asc
/schemacrawler-api/.settings/com.atlassian.clover.eclipse.core.prefs
/schemacrawler-commandline/.settings/com.atlassian.clover.eclipse.core.prefs
/schemacrawler-integrations/.settings/com.atlassian.clover.eclipse.core.prefs
/schemacrawler-lint/.settings/com.atlassian.clover.eclipse.core.prefs
/schemacrawler-tools/.settings/com.atlassian.clover.eclipse.core.prefs
/schemacrawler-distrib/*.bnd
/schemacrawler-distrib/*.jar
