$catalog.schemaCrawlerInfo
$catalog.databaseInfo
$catalog.jdbcDriverInfo

#foreach($schema in $catalog.schemas)
SET SCHEMA $schema.fullName;

#foreach($table in $catalog.getTables($schema))
#if ($table.tableType == "table")
CREATE TABLE $table.name
(
#foreach($column in $table.columns)
#if($velocityCount > 1)
,
#end
  $column.name $column.columnDataType#if(!$column.isNullable()) NOT NULL#end
#end

);

#end
#end
#end