Package: schemacrawler
Version: [[version]]
Section: database
Priority: optional
Architecture: all
Recommends: graphviz
Maintainer: Sualeh Fatehi <sualeh@hotmail.com>
Uploaders: Adrien.Sales <Adrien.Sales@gmail.com>
Description: Schemacrawler
  Free database schema discovery and comprehension tool
  
  Schemacrawler (http://schemacrawler.sourceforge.net/) has a good mix 
  useful features for data governance. You can search for database schema 
  objects using regular expressions, and output the schema and data in a 
  readable text format. The output serves for database documentation, and 
  is designed to be diff-ed against other database schemas. 

  SchemaCrawler also generates schema diagrams (and hence depends on 
  graphviz). You can execute scripts in any standard scripting language 
  against your database, and find potential schema design issues with 
  lint. 
Homepage: http://schemacrawler.sourceforge.net/
