.name {
	font-weight: bold;
	width: 150px;
}

.description {
	text-align: right;
	width: 450px;
}

.ordinal {
	width: 20px;
}

.subname {
	width: 150px;
}

.type {
	width: 150px;
}

.remarks {
	width: 280px;
}

.definition {
	width: 580px;
	white-space: pre;
}

body,p,pre,table,th,td,caption {
	text-align: left;
	font-family: Trebuchet MS;
	font-size: 8pt;
}

table,th,td {
	border: 1px solid silver;
	border-collapse: collapse;
	vertical-align: top;
	padding: 2px;
}

table {
	width: 600px;
}

caption {
	font-weight: bold;
}

hr {
	height: 1px;
}