-- Testing UTF-8 characters: ¥ · £ · € · $ · ¢ · ₡ · ₢ · ₣ · ₤ · ₥ · ₦ · ₧ · ₨ · ₩ · ₪ · ₫ · ₭ · ₮ · ₯

$catalog.crawlInfo

#foreach($schema in $catalog.schemas)
SET SCHEMA $schema.fullName;

#foreach($table in $catalog.getTables($schema))
#if ($table.tableType == "table")
CREATE TABLE $table.getFullName()
(
#foreach($column in $table.columns)
  $column.getName() $column.columnDataType#if(!$column.isNullable()) NOT NULL#end#if($foreach.count < $table.columns.size()),#end
#end
);

#end
#end
#end
