$catalog.crawlInfo

#foreach($schema in $catalog.schemas)
SET SCHEMA $schema.fullName;

#foreach($table in $catalog.getTables($schema))
#if ($table.tableType == "table")
CREATE TABLE $identifiers.quoteName($table)
(
  #foreach($column in $table.columns)
    $identifiers.quoteName($column) $column.columnDataType#if(!$column.isNullable()) NOT NULL#end#if($foreach.count < $table.columns.size()),#end
  #end
);

#end
#end
#end
