erDiagram

#foreach ($entity in $er_model.getEntities())
  "$entity.getFullName().replace('\"','') [$entity.getType().description()]" {
#foreach ($entity_attribute in $entity.getEntityAttributes())
#set($entity_attribute_name = $entity_attribute.getName())
#set($cleaned = $entity_attribute_name.replaceAll("[^\\d\\w\\-]", ""))
#if(!$cleaned || $cleaned == "")
#set($cleaned = "UNKNOWN")
#end
    $entity_attribute.getType() $cleaned#if($entity_attribute.hasRemarks()) "$entity_attribute.getRemarks().replace('\n', ' ')"#end
#end
  }

#end
#foreach ($relationship in $er_model.getRelationships())
#set($cardinality = $relationship.getType())
#set($cardinality_name = $cardinality.name())
#set($cardinality_symbol = "||--o{")
#if($cardinality_name == "unknown")
#set($cardinality_symbol = "||--||")
#elseif($cardinality_name == "zero_one")
#set($cardinality_symbol = "||--o|")
#elseif($cardinality_name == "zero_many")
#set($cardinality_symbol = "||--o{")
#elseif($cardinality_name == "one_one")
#set($cardinality_symbol = "||--||")
#elseif($cardinality_name == "one_many")
#set($cardinality_symbol = "||--|{")
#elseif($cardinality_name == "many_many")
#set($cardinality_symbol = "}o--o{")
#end
#set($label = "foreign key")
#if($cardinality_name == "many_many")
#set($label = "via bridge table $relationship.getName()")
#elseif($relationship.getLeftEntity() == $relationship.getRightEntity())
#set($label = "self-reference")
#elseif($relationship.hasRemarks())
#set($label = $relationship.getRemarks().replace("\n", " "))
#end
  "$relationship.getLeftEntity().getFullName().replace('\"','') [$relationship.getLeftEntity().getType().description()]" $cardinality_symbol "$relationship.getRightEntity().getFullName().replace('\"','') [$relationship.getRightEntity().getType().description()]" : "$label"
#end
