## Copyright (c) Sualeh Fatehi
## SPDX-License-Identifier: EPL-2.0
#set ($Q = '"')
##-----
---
#if($title)
title: "$title"
#end
config:
  theme: base
---
erDiagram

  classDef strong_entity stroke:#283593;
  classDef subtype stroke:#1976D2;
  classDef weak_entity stroke:#1976D2;
  classDef unknown stroke:#AAAAAA;
  classDef non_entity stroke:#AAAAAA;

## Entities
#foreach ($entity in $support.entities())
  $Q$support.cleanFullName($entity)$Q:::$entity.getType() {
    #foreach ($entity_attribute in $entity.getEntityAttributes())
      #set($cleaned = $support.stripName($entity_attribute))
      #if(!$cleaned || $cleaned == "")
        #set($cleaned = "UNKNOWN")
      #end      
      #set($remarks = "")
      #if($entity_attribute.hasRemarks())
        #set($remarks = ' "' + $support.remarks$($entity_attribute) + '"')        
      #end
    $entity_attribute.getType() $cleaned$remarks
    #end
  }

#end
## Relationships
#foreach ($relationship in $er_model.getRelationships())
  #set($cardinality = $relationship.getType())
  #set($cardinality_name = $cardinality.name())
  #set($cardinality_symbol = $support.cardinalitySymbol($relationship))
  #set($label = "foreign key")
  #if($cardinality_name == "many_many")
    #set($label = "via bridge table $relationship.getName()")
  #elseif($relationship.getLeftEntity() == $relationship.getRightEntity())
    #set($label = "self-reference")
  #elseif($relationship.hasRemarks())
    #set($label = $support.remarks($relationship))
  #end
  $Q$support.cleanFullName($relationship.getLeftEntity())$Q $cardinality_symbol $Q$support.cleanFullName($relationship.getRightEntity())$Q : "$label"
#end
