## Copyright (c) Sualeh Fatehi
## SPDX-License-Identifier: EPL-2.0
#macro(name_for $entity)
$support.cleanFullName($entity) [$entity.getType().description()]#end
#set ($Q = '"')
##-----
#if($title)
---
title: "$title"
---
#end
erDiagram

## Entities
#foreach ($entity in $er_model.getEntities())
  $Q#name_for($entity)$Q {
    #foreach ($entity_attribute in $entity.getEntityAttributes())
      #set($cleaned = $support.stripName($entity_attribute))
      #if(!$cleaned || $cleaned == "")
        #set($cleaned = "UNKNOWN")
      #end      
      #set($remarks = "")
      #if($entity_attribute.hasRemarks())
        #set($remarks = ' "' + $support.remarks$($entity_attribute) + '"')        
      #end
    $entity_attribute.getType() $cleaned$remarks
    #end
  }

#end
## Relationships
#foreach ($relationship in $er_model.getRelationships())
  #set($cardinality = $relationship.getType())
  #set($cardinality_name = $cardinality.name())
  #set($cardinality_symbol = $support.cardinalitySymbol($relationship))
  #set($label = "foreign key")
  #if($cardinality_name == "many_many")
    #set($label = "via bridge table $relationship.getName()")
  #elseif($relationship.getLeftEntity() == $relationship.getRightEntity())
    #set($label = "self-reference")
  #elseif($relationship.hasRemarks())
    #set($label = $support.remarks($relationship))
  #end
  $Q#name_for($relationship.getLeftEntity())$Q $cardinality_symbol $Q#name_for($relationship.getRightEntity())$Q : "$label"
#end
