<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="datasource"
        class="org.hsqldb.jdbc.JDBCDataSource">
    <property name="database">
      <value>jdbc:hsqldb:mem:springtest</value>
    </property>
  </bean>

  <bean id="schemaCrawlerOptions"
        class="schemacrawler.schemacrawler.SchemaCrawlerOptionsBuilder"
        factory-method="newSchemaCrawlerOptions" />

  <bean id="outputOptions"
        class="schemacrawler.test.utility.ExecutableTestUtility"
        factory-method="newOutputOptions">
    <constructor-arg name="outputFormatValue"
                     value="text" />
    <constructor-arg>
      <bean id="outputFile" class="java.nio.file.Paths"
            factory-method="get">
        <constructor-arg value="." />
        <constructor-arg value="scOutput.txt" />
      </bean>
    </constructor-arg>
  </bean>

  <bean id="schemaTextOptionsBuilder"
        class="schemacrawler.tools.command.text.schema.options.SchemaTextOptionsBuilder"
        factory-method="builder" />
  <bean
    class="org.springframework.beans.factory.config.MethodInvokingBean">
    <property name="targetObject"
              ref="schemaTextOptionsBuilder" />
    <property name="targetMethod" value="showOrdinalNumbers" />
    <property name="arguments">
      <value type="boolean">true</value>
    </property>
  </bean>
  <bean
    class="org.springframework.beans.factory.config.MethodInvokingBean">
    <property name="targetObject"
              ref="schemaTextOptionsBuilder" />
    <property name="targetMethod"
              value="showStandardColumnTypeNames" />
    <property name="arguments">
      <value type="boolean">true</value>
    </property>
  </bean>
  <bean
    class="org.springframework.beans.factory.config.MethodInvokingBean">
    <property name="targetObject"
              ref="schemaTextOptionsBuilder" />
    <property name="targetMethod" value="noSchemaCrawlerInfo" />
    <property name="arguments">
      <value type="boolean">true</value>
    </property>
  </bean>

  <bean id="executableForSchema"
        class="schemacrawler.tools.executable.SchemaCrawlerExecutable">
    <constructor-arg value="schema" />
    <property name="schemaCrawlerOptions"
              ref="schemaCrawlerOptions" />
    <property name="additionalConfiguration"
              value="#{ schemaTextOptionsBuilder.toConfig() }" />
    <property name="outputOptions" ref="outputOptions" />
  </bean>

</beans>
