$schema.databaseInfo

#foreach($table in $schema.tables)
#if ($table.type == "table")
CREATE TABLE $table.name
(
#foreach($column in $table.columns)
#if($velocityCount > 1)
,
#end
  $column.name $column.type#if(!$column.isNullable()) NOT NULL#end
#end

);

#end
#end
