<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Copyright 2007, Sualeh Fatehi <sualeh@hotmail.com>
  
  This work is licensed under the Creative Commons Attribution 3.0 License. 
  To view a copy of this license, visit 
  http://creativecommons.org/licenses/by/3.0/ 
  or send a letter to 
  Creative Commons
  171 Second Street, Suite 300, San Francisco, California, 94105, USA.
-->
<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

  <bean
    id="dataSource"
    class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName">
      <value>org.hsqldb.jdbcDriver</value>
    </property>
    <property name="url">
      <value>jdbc:hsqldb:mem:schemacrawler</value>
    </property>
    <property name="username">
      <value>sa</value>
    </property>
    <property name="password">
      <value></value>
    </property>
  </bean>

  <bean
    id="schemaCrawlerOptions"
    class="schemacrawler.crawl.SchemaCrawlerOptions">
    <property
      name="alphabeticalSortForTableColumns"
      value="true" />
    <property
      name="alphabeticalSortForProcedureColumns"
      value="true" />
    <property
      name="alphabeticalSortForIndexes"
      value="true" />
    <property
      name="alphabeticalSortForForeignKeys"
      value="true" />
    <property
      name="showStoredProcedures"
      value="true" />
    <property name="tableInclusionRule">
      <bean class="schemacrawler.crawl.InclusionRule">
        <constructor-arg value=".*" />
        <constructor-arg value="" />
      </bean>
    </property>
    <property name="columnInclusionRule">
      <bean class="schemacrawler.crawl.InclusionRule">
        <constructor-arg value=".*" />
        <constructor-arg value="" />
      </bean>
    </property>
    <property name="tableTypesString">
      <value>TABLE,VIEW</value>
    </property>
    <property
      name="informationSchemaViews"
      ref="informationSchemaViews" />
  </bean>

  <bean
    id="outputOptions"
    class="schemacrawler.tools.OutputOptions">
    <property
      name="appendOutput"
      value="false" />
    <property
      name="noFooter"
      value="true" />
    <property
      name="noHeader"
      value="true" />
    <property
      name="noInfo"
      value="true" />
    <property
      name="outputFormatValue"
      value="text" />
  </bean>

  <bean
    id="informationSchemaViews"
    class="schemacrawler.crawl.InformationSchemaViews">
    <property name="routinesSql">
      <value>
        <![CDATA[
            SELECT 
              ROUTINE_CATALOG, 
              ROUTINE_SCHEMA, 
              ROUTINE_NAME, 
              ROUTINE_BODY, 
              ROUTINE_DEFINITION 
            FROM 
              INFORMATION_SCHEMA.ROUTINES 
            WHERE 
              ROUTINE_TYPE='PROCEDURE' 
            ORDER BY 
              ROUTINE_CATALOG, 
              ROUTINE_SCHEMA, 
              ROUTINE_NAME
            ]]>
      </value>
    </property>
    <property name="viewsSql">
      <value>
        <![CDATA[
            SELECT 
              * 
            FROM 
              INFORMATION_SCHEMA.VIEWS 
            ORDER BY 
              TABLE_CATALOG, 
              TABLE_SCHEMA, 
              TABLE_NAME
            ]]>
      </value>
    </property>
    <property name="tableConstraintsSql">
      <value>
        <![CDATA[
            SELECT 
              * 
            FROM 
              INFORMATION_SCHEMA.TABLE_CONSTRAINTS
            ]]>
      </value>
    </property>
  </bean>

  <bean
    id="schemaTextOptions"
    class="schemacrawler.tools.schematext.SchemaTextOptions">
    <property
      name="showOrdinalNumbers"
      value="false" />
    <property
      name="showStandardColumnTypeNames"
      value="true" />
    <property
      name="hidePrimaryKeyNames"
      value="true" />
    <property
      name="hideIndexNames"
      value="true" />
    <property
      name="hideForeignKeyNames"
      value="true" />
    <property
      name="hideConstraintNames"
      value="true" />
    <property
      name="schemaTextDetailType"
      value="basic_schema" />
    <property
      name="outputOptions"
      ref="outputOptions" />
  </bean>

  <bean
    id="operationOptions"
    class="schemacrawler.tools.operation.OperationOptions">
    <property
      name="operation"
      value="count" />
    <property
      name="outputOptions"
      ref="outputOptions" />
  </bean>

  <bean
    id="dataTextFormatOptions"
    class="schemacrawler.tools.datatext.DataTextFormatOptions">
    <property
      name="showLobs"
      value="true" />
    <property
      name="mergeRows"
      value="true" />
    <property name="query">
      <bean class="schemacrawler.crawl.Query">
        <constructor-arg value="select.tables" />
        <constructor-arg>
          <value>
            <![CDATA[
          	SELECT * FROM INFORMATION_SCHEMA.SYSTEM_TABLES
            ]]>
          </value>
        </constructor-arg>
      </bean>
    </property>
    <property
      name="outputOptions"
      ref="outputOptions" />
  </bean>

  <bean
    id="outputOptionsForVelocity"
    class="schemacrawler.tools.OutputOptions">
    <property
      name="outputFormatValue"
      value="plaintextschema.vm" />
  </bean>
  
  <bean
    id="schemaTextOptionsForVelocity"
    class="schemacrawler.tools.schematext.SchemaTextOptions">
    <property
      name="schemaTextDetailType"
      value="basic_schema" />
    <property
      name="outputOptions"
      ref="outputOptionsForVelocity" />
  </bean>
    
  <bean
    id="outputOptionsForFreeMarker"
    class="schemacrawler.tools.OutputOptions">
    <property
      name="outputFormatValue"
      value="plaintextschema.ftl" />
  </bean>
  
  <bean
    id="schemaTextOptionsForFreeMarker"
    class="schemacrawler.tools.schematext.SchemaTextOptions">
    <property
      name="schemaTextDetailType"
      value="basic_schema" />
    <property
      name="outputOptions"
      ref="outputOptionsForFreeMarker" />
  </bean>
      
  <bean
    id="executableForSchema"
    class="schemacrawler.tools.schematext.SchemaCrawlerExecutable">
    <property
      name="schemaCrawlerOptions"
      ref="schemaCrawlerOptions" />
    <property
      name="toolOptions"
      ref="schemaTextOptions" />
  </bean>

  <bean
    id="executableForCount"
    class="schemacrawler.tools.operation.OperationExecutable">
    <property
      name="schemaCrawlerOptions"
      ref="schemaCrawlerOptions" />
    <property
      name="toolOptions"
      ref="operationOptions" />
  </bean>

  <bean
    id="executableForQuery"
    class="schemacrawler.tools.datatext.DataToolsExecutable">
    <property
      name="schemaCrawlerOptions"
      ref="schemaCrawlerOptions" />
    <property
      name="toolOptions"
      ref="dataTextFormatOptions" />
  </bean>

  <bean
    id="executableForJung"
    class="schemacrawler.tools.integration.jung.JungExecutable">
    <property
      name="schemaCrawlerOptions"
      ref="schemaCrawlerOptions" />
    <property
      name="toolOptions"
      ref="schemaTextOptions" />
  </bean>

  <bean
    id="executableForVelocity"
    class="schemacrawler.tools.integration.velocity.VelocityRenderer">
    <property
      name="schemaCrawlerOptions"
      ref="schemaCrawlerOptions" />
    <property
      name="toolOptions"
      ref="schemaTextOptionsForVelocity" />
  </bean>
  
  <bean
    id="executableForFreeMarker"
    class="schemacrawler.tools.integration.freemarker.FreeMarkerRenderer">
    <property
      name="schemaCrawlerOptions"
      ref="schemaCrawlerOptions" />
    <property
      name="toolOptions"
      ref="schemaTextOptionsForFreeMarker" />
  </bean>
    
</beans>