<?xml version="1.0"?>
<project name="Spring Integration"
         default="spring">

  <description>SchemaCrawler integration with the Spring Framework.</description>

  <target name="dependencies_download">

    <!--
      Set up Apache Ivy to download dependencies
    -->
    <property name="ivy.install.version" value="2.1.0" />
    <property name="ivy.jar.dir" location=".." />
    <property name="ivy.jar.file" location="${ivy.jar.dir}/ivy.jar" />
    <get src="http://repo1.maven.org/maven2/org/apache/ivy/ivy/${ivy.install.version}/ivy-${ivy.install.version}.jar"
         dest="${ivy.jar.file}"
         usetimestamp="true" />
    <path id="ivy.lib.path">
      <fileset dir="${ivy.jar.dir}" includes="*.jar" />
    </path>
    <taskdef resource="org/apache/ivy/ant/antlib.xml"
             classpathref="ivy.lib.path" />

    <!-- Download dependencies -->
    <retrieve />

  </target>


  <target name="spring" depends="dependencies_download">

    <!-- Step 1.
      Define the ant tasks (macros) that come with SchemaCrawler
    -->
    <typedef resource="schemacrawler-integrations-antlib.xml"
             classpath="../_schemacrawler/lib/schemacrawler-9.3.1.jar" />

    <!-- Step 2.
      Define the classpath to the database driver, and Spring
    -->
    <path id="schemacrawler-classpath">
      <fileset dir="../_schemacrawler/lib">
        <include name="*.jar" />
      </fileset>
      <fileset dir="./lib">
        <include name="*.jar" />
      </fileset>
    </path>

    <!-- Step 3.
      Use an ant task that uses the <schemacrawler-spring> macro
    -->
    <schemacrawler-spring schemacrawler-classpath="schemacrawler-classpath"
                          context-file="context.xml"
                          executable="executableForSchema"
                          datasource="datasource" />
  	
    <echo message="Created output in scOutput.txt"/>
  	
  </target>

</project>
