
#bannerLeft {
  background-image: url(../images/schemacrawler_logo.png);
  background-repeat: no-repeat;
  height: 62px;
  padding-left: 62px;
}

#bannerLeft h1 {
  padding-left: 30px;
  color: rgb(0, 0, 0);
}
