a:link, a:visited {
    color: rgb(16, 16, 16);
    text-decoration: underline;
}

a:hover, a:active {
    color: Blue;
    background-color: rgb(252, 241, 65);
    text-decoration: underline;
}
