body,td,select,input,li {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 9pt;
}

code {
	font-family: Courier New, Courier, monospace;
	font-size: 9pt;
}

h2 {
	color: #000060;
	font-size: 11pt;
}

h3 {
	color: #000060;
	font-size: 10pt;
}

h4 {
	color: #000060;
	font-size: 9pt;
}

h5 {
	color: #000060;
	font-size: 9pt;
}

dl {
	padding: 0px 0px 0px 0px;
	border: 0px;
	background-color: #ffffff;
}

dt {
	color: #000060;
}

p {
	font-size: 9pt;
}

a:link {
	color: #0000AA;
}

a:visited {
	color: #000060;
}

a:active,a:hover {
	color: #900000;
}