body {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}

#page-content h1 {
  font-size: 2rem;
  margin-top: 2rem;
  color: rgb(92, 92, 92);
}

#page-content h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: rgb(92, 92, 92);
}

#page-content h3 {
  font-size: 1.2rem;
  margin-top: 1.2rem;
  color: rgb(92, 92, 92);
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
