<?xml version="1.0" encoding="UTF-8"?>
	<!--
		/* * * SchemaCrawler * http://sourceforge.net/projects/schemacrawler *
		Copyright (c) 2000-2009, Sualeh Fatehi. * * This library is free
		software; you can redistribute it and/or modify it under the terms *
		of the GNU Lesser General Public License as published by the Free
		Software Foundation; * either version 2.1 of the License, or (at your
		option) any later version. * * This library is distributed in the hope
		that it will be useful, but WITHOUT ANY WARRANTY; * without even the
		implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
		PURPOSE. * See the GNU Lesser General Public License for more details.
		* * You should have received a copy of the GNU Lesser General Public
		License along with this * library; if not, write to the Free Software
		Foundation, Inc., 59 Temple Place, Suite 330, * Boston, MA 02111-1307,
		USA. * */
	-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="dataSources" class="java.util.HashSet">
		<constructor-arg>
			<set>
				<bean id="oracle"
					class="org.springframework.jdbc.datasource.DriverManagerDataSource">
					<property name="driverClassName">
						<value>oracle.jdbc.driver.OracleDriver</value>
					</property>
					<property name="url">
						<value>jdbc:oracle:thin:@localhost:1521:schemacrawler</value>
					</property>
					<property name="username">
						<value>schemacrawler</value>
					</property>
					<property name="password">
						<value>schemacrawler</value>
					</property>
				</bean>
				<bean id="sql-server"
					class="org.springframework.jdbc.datasource.DriverManagerDataSource">
					<property name="driverClassName">
						<value>net.sourceforge.jtds.jdbc.Driver</value>
					</property>
					<property name="url">
						<value>jdbc:jtds:sqlserver://localhost:1433/schemacrawler;appName=SchemaCrawler;useCursors=true</value>
					</property>
					<property name="username">
						<value>schemacrawler</value>
					</property>
					<property name="password">
						<value>schemacrawler</value>
					</property>
				</bean>
			</set>
		</constructor-arg>
	</bean>

</beans>
