name: CI for Project

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Install packages
      run: sudo apt-get update; sudo apt-get install graphviz
    - name: Build with Maven
      run: mvn -f schemacrawler-parent/pom.xml clean package
