name: Create Early Access Release

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Create Release
    if: |
      (github.event.pull_request.merged == true &&
      github.event.pull_request.base.ref == 'main') ||
      github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:

# SETUP BUILD ENVIRONMENT
    - id: prepare-maven-build
      name: Prepare Maven build
      uses: sualeh/prepare-maven-build@v1.6.1
      with:
        java-version: 17
    - id: install-graphviz
      name: Install Graphviz
      uses: sualeh/install-graphviz@v1.0.3

# BUILD FOR DISTRIBUTION
    - id: build
      name: Build and test for distribution
      shell: bash
      run: |
        # Build
        mvn \
          --no-transfer-progress \
          --batch-mode \
          -Ddistrib \
          clean install

# CREATE GITHUB RELEASE AND ADD ASSETS
    - id: move-tag
      name: Move early-access-release tag
      shell: bash
      run: |
        # Move early-access-release tag
        git fetch --tags
        git tag -d early-access-release || true
        git push --delete origin early-access-release || true
        git tag -a early-access-release -m "SchemaCrawler Early Access Release"
        git push --follow-tags origin early-access-release
    - id: create-release
      name: Create GitHub early access release
      uses: softprops/action-gh-release@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag_name: early-access-release
        name: early-access-release
        draft: false
        prerelease: true
        body: |
          SchemaCrawler early access release at last commit ${{ github.sha }}
        generate_release_notes: true
        files: |
          ./schemacrawler-distrib/target/schemacrawler-17.1.5-distribution.zip
          ./schemacrawler-distrib/target/schemacrawler-17.1.5-distribution.zip.SHA-512
          ./schemacrawler-distrib/target/schemacrawler-17.1.5-bin.zip
          ./schemacrawler-distrib/target/schemacrawler-17.1.5-bin.zip.SHA-512
        overwrite_files: true

# BUILD AND PUBLISH DOCKER IMAGE
    - id: setup-qemu
      name: Setup QEMU
      uses: docker/setup-qemu-action@v3

    - id: setup-buildx
      name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3

    - id: docker-login
      name: Log into Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - id: build-docker-image
      name: Build and Push Docker Image
      uses: docker/build-push-action@v6
      with:
        file: ./schemacrawler-docker/Dockerfile
        context: ./schemacrawler-distrib/target/_expanded-distribution
        platforms: |-
          linux/amd64
          linux/arm64
        tags: |-
          schemacrawler/schemacrawler:early-access-release
        sbom: true
        provenance: true
        push: true
