name: Create Early Access Release

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Create Release
    if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main'
    runs-on: ubuntu-latest
    steps:

# SETUP BUILD ENVIRONMENT
    - id: prepare-maven-build
      name: Prepare Maven build
      uses: sualeh/prepare-maven-build@v1.4.0
      with:
        java-version: 8
    - id: install-graphviz
      name: Install Graphviz
      uses: sualeh/install-graphviz@v1.0.3

# BUILD FOR DISTRIBUTION
    - id: build
      name: Build and test for distribution
      shell: bash
      run: |
        # Build
        mvn \
          --no-transfer-progress \
          --batch-mode \
          -Ddistrib \
          clean install

# CREATE GITHUB RELEASE AND ADD ASSETS
    - id: tag
      name: Move early-access-release tag
      shell: bash
      if: false
      run: |
        # Move tag
        git tag -d early-access-release
        git push --delete origin early-access-release
        git tag -a early-access-release -m "SchemaCrawler Early Access Release"
        git push --follow-tags
    - id: create-release
      name: Create GitHub release
      uses: softprops/action-gh-release@v2
      if:  ${{ startsWith(github.ref, 'refs/tags/') != true }}
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag_name: early-access-release
        name: early-access-release
        draft: false
        prerelease: true
        body: |
          SchemaCrawler ${{ github.event.release.tag_name }} early access release at last commit ${{ github.sha }}
        generate_release_notes: true
        files: |
          ./schemacrawler-distrib/target/schemacrawler-16.24.2-distribution.zip
          ./schemacrawler-distrib/target/schemacrawler-16.24.2-distribution.zip.SHA-512
          ./schemacrawler-distrib/target/schemacrawler-16.24.2-bin.zip
          ./schemacrawler-distrib/target/schemacrawler-16.24.2-bin.zip.SHA-512

# BUILD AND PUBLISH DOCKER IMAGE
    - id: setup-qemu
      name: Setup QEMU
      uses: docker/setup-qemu-action@v3

    - id: setup-buildx
      name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log into Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v6
      with:
        file: ./schemacrawler-docker/Dockerfile
        context: ./schemacrawler-distrib/target/_expanded-distribution
        platforms: |-
          linux/amd64
          linux/arm64
        tags: |-
          schemacrawler/schemacrawler:early-access-release
        sbom: true
        provenance: true
        push: true
