name: Create Early Access Release

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:

# SETUP BUILD ENVIRONMENT
    - id: prepare-maven-build
      name: Prepare Maven build
      uses: sualeh/prepare-maven-build@v1.3.3
      with:
        java-version: 8
    - id: install-graphviz
      name: Install Graphviz
      uses: sualeh/install-graphviz@v1.0.1

# BUILD FOR DISTRIBUTION
    - id: build
      name: Build and test for distribution
      shell: bash
      run: |
        # Build
        mvn \
          --no-transfer-progress \
          --batch-mode \
          -Ddistrib \
          clean install

# CREATE GITHUB RELEASE AND ADD ASSETS
    - id: tag
      name: Move early-access-release tag
      shell: bash
      if: false
      run: |
        # Move tag
        git tag -d early-access-release
        git push --delete origin early-access-release
        git tag -a early-access-release -m "SchemaCrawler Early Access Release"
        git push --follow-tags
    - id: create-release
      name: Create GitHub release
      uses: softprops/action-gh-release@v1
      if:  ${{ startsWith(github.ref, 'refs/tags/') != true }}
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag_name: early-access-release
        name: early-access-release
        draft: false
        prerelease: true
        body: |
          SchemaCrawler ${{ github.event.release.tag_name }} early access release at last commit ${{ github.sha }}
        generate_release_notes: true
        files: |
          ./schemacrawler-distrib/target/schemacrawler-16.19.9-distribution.zip
          ./schemacrawler-distrib/target/schemacrawler-16.19.9-distribution.zip.SHA-512
          ./schemacrawler-distrib/target/schemacrawler-16.19.9-bin.zip
          ./schemacrawler-distrib/target/schemacrawler-16.19.9-bin.zip.SHA-512
