name: Database Integration Tests with Experimental Features

on:
  workflow_dispatch:
  push:
    branches:
      - '**'
  schedule:
    - cron: '20 0/8 * * *'

permissions: read-all

jobs:
  build:
    name: Build, run database integration tests, with experimental features
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [8, 17]
    steps:

# SETUP BUILD ENVIRONMENT
    - id: prepare-maven-build
      name: Prepare Maven build
      uses: sualeh/prepare-maven-build@v1.2.1
      with:
        java-version: ${{ matrix.java }}

    - id: install-graphviz
      name: Install graphviz
      if:
      shell: bash
      run: |
        # Install Graphviz
        sudo apt-get install graphviz
        dot -V

# BUILD AND TEST
    - id: build-test
      name: Build and run database integration tests
      env:
        TZ: GMT
      shell: bash
      run: |
        # Build
        mvn \
          --no-transfer-progress \
          --batch-mode \
          -DSC_EXPERIMENTAL=true \
          -Dheavydb \
          clean package
