name: Integration Tests

on:
  workflow_dispatch:
  push:
    branches:
      - '**'
  schedule:
    - cron: '12 0/5 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  build:
    name: Integration Tests
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        java: [8, 17]
    runs-on: ${{ matrix.os }}
    steps:

# SETUP BUILD ENVIRONMENT
    - id: prepare-maven-build
      name: Prepare Maven build
      uses: sualeh/prepare-maven-build@v1.3.3
      with:
        java-version: ${{ matrix.java }}

# BUILD AND TEST
    - id: build-test
      name: Build and run database integration tests
      env:
        TZ: GMT
      shell: bash
      run: |
        # Build
        mvn \
          --no-transfer-progress \
          --batch-mode \
          -Dheavydb \
          -Ddistrib \
          clean package

# INSTALL GRAPHVIZ, AND RERUN DIAGRAM TESTS
    - id: install-graphviz
      name: Install Graphviz
      uses: sualeh/install-graphviz@v1.0.1
    - id: build-test-diagrams
      name: Build and run diagram tests
      shell: bash
      run: |
        # Build
        mvn \
          --no-transfer-progress \
          --batch-mode \
          --projects \
          schemacrawler-diagram,schemacrawler-scripting \
          --also-make \
          package


  build-test-coverage:
    name: Build, run coverage tests, and publish results
    runs-on: ubuntu-latest
    steps:

# SETUP BUILD ENVIRONMENT
    - id: prepare-maven-build
      name: Prepare Maven build
      uses: sualeh/prepare-maven-build@v1.3.3
      with:
        java-version: 11
    - id: install-graphviz
      name: Install Graphviz
      uses: sualeh/install-graphviz@v1.0.1

# BUILD AND TEST
    - id: build-test
      name: Coverage tests
      shell: bash
      run: |
        # Build
        mvn \
          --no-transfer-progress \
          --batch-mode \
          -Dtestcoverage \
          clean install \
          org.jacoco:jacoco-maven-plugin:0.8.9:report-aggregate

# GET TEST RESULTS
    - id: publish-test-results
      name: Upload results and coverage
      if: contains(github.ref, 'main')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CODACY_ORGANIZATION_PROVIDER: gh
        CODACY_USERNAME: schemacrawler
        CODACY_PROJECT_NAME: SchemaCrawler
        CODACY_API_TOKEN: ${{ secrets.CODACY_API_TOKEN }}
      shell: bash
      run: |
        # Upload results and coverage
        bash <(curl -s https://codecov.io/bash) -t 4456b669-238d-485f-a64a-250449710514
        bash <(curl -Ls https://coverage.codacy.com/get.sh)
    - id: upload-coverage-test-results
      name: Upload coverage test results
      uses: actions/upload-artifact@v3
      with:
        name: coverage-test-results
        path: ./schemacrawler/target/site/jacoco-aggregate

  build-test-docker:
    name: Build, run tests, and build Docker image
    runs-on: ubuntu-latest
    steps:

# SETUP BUILD ENVIRONMENT
    - id: prepare-maven-build
      name: Prepare Maven build
      uses: sualeh/prepare-maven-build@v1.3.3
      with:
        java-version: 8
    - id: install-packages
      name: Install packages
      shell: bash
      run: |
        # Install Graphviz
        sudo apt-get -qq update
        sudo apt-get -q install graphviz
        dot -V

# BUILD AND TEST
    - id: build-test
      name: Build Docker image
      shell: bash
      run: |
        # Build
        mvn \
          --no-transfer-progress \
          --batch-mode \
          -Ddistrib \
          -Ddocker.skip=false \
          clean package

# CHECK WEBSITE LINKS
    - id: check-links
      name: Check website links
      uses: lycheeverse/lychee-action@v1.6.1
      with:
        args: --verbose --accept 200,999 --no-progress ./schemacrawler-website/target/_website/**/*
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

    - id: upload-link-check-report
      name: Upload website link check report
      uses: actions/upload-artifact@6673cd052c4cd6fcf4b4e6e60ea986c889389535 # @v3
      with:
        path: ./lychee/out.md
        name: website-link-check-report.md
        retention-days: 15
