name: Lint Code Base

on:
  workflow_dispatch:
  push:
    branches:
      - '**'

permissions: read-all

jobs:
  build:
    name: Lint code base
    runs-on: ubuntu-latest
    steps:

# CHECKOUT CODE
    - id: checkout-code
      name: Checkout code
      uses: actions/checkout@v3
      with:
        # Full git history is needed to get a proper list
        # of changed files within `super-linter`
        fetch-depth: 0

# LINT CODE
    - id: read-env
      name: Use super-linter environmental variables
      shell: bash
      run: |
        # Use super-linter environmental variables
        cat .github/super-linter.env >> "$GITHUB_ENV"
    - id: lint-code-base
      name: Lint Code Base
      uses: github/super-linter/slim@v5.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        DEFAULT_BRANCH: main
    - id: persist-log
      name: Persist linter logs
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: super-linter-log
        path: super-linter.log
        retention-days: 9
