name: Test Coverage

on:
  workflow_dispatch:
  push:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  build-test-coverage:
    name: Run coverage tests and publish results
    runs-on: ubuntu-latest
    steps:

# SETUP BUILD ENVIRONMENT
    - id: prepare-maven-build
      name: Prepare Maven build
      uses: sualeh/prepare-maven-build@v1.6.1
      with:
        java-version: 25
    - id: install-graphviz
      name: Install Graphviz
      uses: sualeh/install-graphviz@v1.0.3

# BUILD AND TEST
    - id: build-test
      name: Coverage tests
      shell: bash
      run: |
        # Run coverage tests
        mvn \
          --no-transfer-progress \
          --batch-mode \
          -Dtestcoverage \
          -Dreactor.printOrder \
          -Ddistrib \
          -Dmaven.javadoc.skip=false \
          clean verify \
          jacoco:report-aggregate

# GET TEST RESULTS
    - id: upload-coverage-test-results
      name: Upload coverage test results
      uses: actions/upload-artifact@v4
      with:
        name: coverage-test-results
        path: ./schemacrawler-distrib/target/site/jacoco-aggregate
        retention-days: 5
    - id: publish-coverage-codecov
      name: Upload coverage report to Codecov
      if: contains(github.ref, 'main')
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true
    - id: publish-coverage-codacy
      name: Upload coverage report to Codacy
      uses: codacy/codacy-coverage-reporter-action@v1
      if: contains(github.ref, 'main')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CODACY_ORGANIZATION_PROVIDER: gh
        CODACY_USERNAME: schemacrawler
        CODACY_PROJECT_NAME: SchemaCrawler
        CODACY_API_TOKEN: ${{ secrets.CODACY_API_TOKEN }}
      with:
        api-token: ${{ secrets.CODACY_API_TOKEN }}
    - id: qodana-scan
      name: Qodana Scan
      uses: JetBrains/qodana-action@main
      if: contains(github.ref, 'main')
      env:
        QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
