body, p, li, td, th, caption, select, input, strong {
	font-family: "Century Gothic", CenturyGothic, Geneva, sans-serif;
	font-size: 1.0rem;
	line-height: 1.4rem;
	color: rgb(16, 16, 16);
}

body {
	margin-top: 1rem;
	margin-right: 3rem;
	margin-bottom: 1rem;
	margin-left: 3rem;
}

code, pre, tt {
	font-family: 'Lucida Console', Monaco, 'Courier New', monospace;
	font-size: 1.0rem;
	line-height: 1.4rem;
	color: rgb(16, 16, 16);
}

hr {
	height: 1px;
	border-width: 1px 0px 0px 0px;
	color: Silver;
}

p {
	margin-bottom: 0.5rem;
}

caption {
	border-bottom: 2px solid black;
	padding: 2px 5px;
	text-align: left;
}

h1, h2, h3 {
	font-family: "Palatino Linotype", Georgia, "Times New Roman", serif;
	margin-top: 1.0rem;
	margin-bottom: 1.5rem;	
    font-weight: bold;
}

h1 {
	font-size: 1.6rem;
	line-height: 1.8rem;
}

h2 {
	font-size: 1.4rem;
	line-height: 1.6rem;
}

h3 {
	font-size: 1.2rem;
	line-height: 1.4rem;
}

dl, ul, ol {
	padding: 0px 0px 0px 0px;
	border: 0px;
	background-color: #ffffff;
	margin-left: 1rem;
	padding-left: 1rem;
}

li {
	margin-top: 0.3rem;
}

table, th, td {
	border: 1px solid rgb(240, 240, 240);
	border-collapse: collapse;
	vertical-align: top;
	padding: 2px;
}

table {
	width: 800px;
	max-width: 1000px;
	min-width: 600px;
}

th {
	font-weight: bold;
	border-bottom: 1px solid rgb(190, 190, 190);
}

blockquote {
	background: #f9f9f9;
	margin: 5px;
	border-left: 10px solid #ccc;
	padding: 0.5rem 10px;
}

blockquote: before {
	color: #ccc;
	font-size: 4rem;
	line-height: 0.1rem;
	margin-right: 0.25rem;
	vertical-align: -0.4rem;
}

blockquote p {
	display: inline;
	background: #f9f9f9;
}