
h1 {
    color: maroon;
}

h2 {
    color: darkblue;
}

h3 {
    color: green;
}

a:link, a:visited {
    color: rgb(123, 42, 144);
    text-decoration: none;
}

a:hover, a:active {
    color: rgb(123, 42, 144);
    background-color: rgb(255, 255, 180);
    text-decoration: none;
    border-bottom: 1px solid rgb(123, 42, 144);
    border-radius: 3px;
}

.caption_name {
	font-weight: bold;
	font-style: italic;
}

.caption_description {
	float: right;
}

.name {
	font-weight: bold;
	min-width: 350px;
}

.property_name {
	min-width: 350px;
}

.property_value {
	min-width: 250px;
}

.right {
	text-align: right;
}

.description {
	min-width: 450px;
}

.spacer {
	min-width: 20px;
}

.subname {
	min-width: 150px;
}

.type {
	min-width: 150px;
}

.definition {
    word-break: normal; 
    word-wrap: break-word;
    white-space: pre;
    white-space: -moz-pre-wrap; 
    white-space: pre-wrap;
    white-space: pre\9; 
    
    font-family: 'Lucida Console', Monaco, 'Courier New', monospace;
    font-size: 1.0rem;
    font-weight: 100;
    
    line-height: 1.2rem;
    color: rgb(16, 16, 16); 
}

td.section {
    font-family: "Palatino Linotype", Georgia, "Times New Roman", serif;
    padding-top: 1.5rem;
    padding-bottom: 1.0rem;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: rgb(100, 100, 100);
}

.data_binary {
	font-style: italic;
	color: rgb(64, 64, 64);
}

.data_null {
	font-style: italic;
	color: rgb(64, 64, 64);
	background-color: rgb(240, 240, 240);
}

.data_number {
	text-align: right;
	padding-right: 5px;
}