

.name {
	font-weight: bold;
	min-width: 350px;
}

.property_name {
	min-width: 350px;
}

.property_value {
	min-width: 250px;
}

.right {
	text-align: right;
}

.description {
	min-width: 450px;
}

.spacer {
	min-width: 20px;
}

.subname {
	min-width: 150px;
}

.type {
	min-width: 150px;
}

.definition {
	white-space: pre-line;
}

.data_binary {
	font-style: italic;
	color: rgb(64, 64, 64);
}

.data_null {
	font-weight: italic;
	color: rgb(64, 64, 64);
	background-color: rgb(240, 240, 240);
}

.data_number {
	text-align: right;
	padding-right: 5px;
}