body,p,pre,table,th,td,th,caption {
	text-align: left;
	font-family: 'Trebuchet MS', 'sans-serif';
	font-size: 0.9em;
	line-height: 1.2em;
}

body {
	margin-top: 1em;
	margin-right: 3em;
	margin-bottom: 1em;
	margin-left: 3em;
}

h1,h2 {
	color: Navy;
}

h3 {
	color: DarkGreen;
}

table,th,td,th {
	border: 1px solid rgb(230, 230, 230);
	border-collapse: collapse;
	vertical-align: top;
	padding: 2px;
}

table {
	width: 800px;
}

caption {
	font-weight: bold;
	color: Maroon;
	border-bottom: 2px solid rgb(190, 190, 190);
}

th {
	font-weight: bold;
	border-bottom: 1px solid rgb(190, 190, 190);
}

hr {
	height: 1px;
}

.name {
	font-weight: bold;
	min-width: 350px;
}

.property_name {
	min-width: 350px;
}

.property_value {
	min-width: 250px;
}

.right {
	text-align: right;
}

.description {
	min-width: 450px;
}

.ordinal {
	min-width: 20px;
}

.subname {
	min-width: 150px;
}

.type {
	min-width: 150px;
}

.definition {
	white-space: pre-line;
}

.data_binary {
	font-style: italic;
	color: #666;
}

.data_null {
	font-weight: italic;
	color: #666;
	background-color: #FFEEFF;
}

.data_number {
	text-align: right;
	padding-right: 5px;
}