<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SchemaCrawler Example</title>
    <link rel="stylesheet" type="text/css" href="../sc.css">
    <link rel="stylesheet" type="text/css" href="examples/sc.css">
  </head>
  <body>
$bodyContent
    <hr/>
    &#169 2000-2016, Sualeh Fatehi. <br />
    <a href="http://www.schemacrawler.com/">SchemaCrawler</a>
  </body>
</html>
