<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SchemaCrawler Example</title>
    <style>
#include( "sc.css" )    
    </style>
  </head>
  <body>
$bodyContent
    <hr/>
    &#169 2000-2014, Sualeh Fatehi. <br />
    <a href="http://schemacrawler.sourceforge.net/">SchemaCrawler</a>
  </body>
</html>
